{% load static %}
<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/checkout.html   -->
<head>
		<meta charset="utf-8">
		<title>HealthGlobe</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		    <!-- Favicons 
			<link
			type="image/x-icon"
			href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
			rel="icon"
		  />-->
	  
		  <!-- Bootstrap CSS -->
		  <link
			rel="stylesheet"
			href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
		  />
	  
		  <!-- Fontawesome CSS -->
		  <link
			rel="stylesheet"
			href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
		  />
		  <link
			rel="stylesheet"
			href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
		  />
	  
		  <!-- Main CSS -->
		  <link
			rel="stylesheet"
			href="{% static 'HealthStack-System/css/Normal/style.css' %}"
		  />
	  
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">{% include 'navbar_home.html' %}</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Checkout</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Checkout</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			
						
						<div class="col-md-5 col-lg-4 theiaStickySidebar">
						
							<!-- Booking Summary -->
							<div class="card booking-card">
								<div class="card-header">
									<h4 class="card-title">Booking Summary</h4>
								</div>
								<div class="card-body">
								    <h4>Once Approved by the admin the payment status will be Approved</h4>
									<!-- Booking Doctor Info 
									<div class="booking-doc-info">
										<a href="doctor-profile.html" class="booking-doc-img">
											<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
										</a>
										<div class="booking-info">
											<h4><a href="doctor-profile.html"></a></h4>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">35</span>
											</div>
											<div class="clinic-details">
												<p class="doc-location"><i class="fas fa-map-marker-alt"></i> </p>
											</div>
										</div>
									</div>-->
									<!-- Booking Doctor Info 
									
									<div class="booking-summary">
										<div class="booking-item-wrap">
											<ul class="booking-date">
												<li>Date <span>16 Nov 2019</span></li>
												<li>Time <span>10:00 AM</span></li>
											</ul>
											<ul class="booking-fee">
												<li>Consulting Fee <span>$100</span></li>
												<li>Booking Fee <span>$10</span></li>
												<li>Video Call <span>$50</span></li>
											</ul>
											<div class="booking-total">
												<ul class="booking-total-list">
													<li>
														<span>Total</span>
														<span class="total-cost">$160</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>-->
							<!-- /Booking Summary -->
							
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			{% include 'footer.html' %}
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  <!-- jQuery -->
	  <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
		
		 <!-- Bootstrap Core JS -->
		 <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
		 <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>
		
	</body>

<!-- doccure/checkout.html   -->
</html>